@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background: #fafafa;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[nav-selected='true'] {
    @apply font-bold;
}
